/* common shared style */

body {
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}

.nav-style {
    color: #181818;

    font-size: 45px;

    font-weight: 800;



}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    color: #FFF;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section-title {
    text-align: center;

    font-size: 35px;

    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;;
}



/* headder stlyes */

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 585px;

}

.profile-picture {
    width: 584px;
    height: 676px
}


.banner-gretting {
    color: #474747;
    font-size: 45px;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20PX;
    font-weight: 700
}

.banner-description {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 30px;
}

/* main section styles */

/* about section styles */
.about {
    padding: 130px;
    margin: 100px 386px;
    border-radius: 10px;
    background: #FFF8F3;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    color: #757575;
   
    font-weight: 400;
}
#what-i-do{
    padding: 30px 386px;
}
    